{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
    <title>Criar um ponto de coleta</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create-point.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html" %}

    <form action="/savepoint" method="POST">

        <h1>Cadastro do local de coleta</h1>

        <fieldset>
            <legend>
                <h2>Dados da organização</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="name">Nome da organização</label>
                    <input type="text" name="name" required="required">
                </div>
                <div class="field">
                    <label for="name">Url para imagem da organização</label>
                    <input 
                        type="url" 
                        name="image" 
                        placeholder="https://..."
                        required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address">Rua</label>
                    <input type="text" name="address" placeholder="apenas o nome da rua" required="required">
                </div>
                <div class="field">
                    <label for="address2">Número/Complemento</label>
                    <input type="text" name="address2" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>

                    <input type="hidden" name="state">
                </div>

                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled="disabled" required="required">
                        <option value="">Selecione a Cidade</option>
                    </select>
                </div>

                
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="phone">Telefone de contato</label>
                    <input type="text" 
                            name="phone" 
                            placeholder="(DDD) xxxxx-xxxx" 
                            required="required">
                </div>

                <div class="field">
                    <label for="website">Website da organização</label>
                    <input  
                        name="website" 
                        required="required">
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Selecione os itens para coleta</h2>
            </legend>

            <div class="items-grid">
                <li data-id="Resíduos Orgânicos">
                    <img src="/assets/my-organic.png" alt="Resíduos Orgânicos">
                    <span>Resíduos Orgânicos</span>
                </li>

                <li data-id="Papéis">
                    <img src="/assets/my-paper.png" alt="Papéis">
                    <span>Papéis</span>
                </li>

                <li data-id="Vidros">
                    <img src="/assets/my-vidro.png" alt="Vidros">
                    <span>Vidros</span>
                </li>

                <li data-id="Plásticos">
                    <img src="/assets/my-plastic.png" alt="Plásticos">
                    <span>Plásticos</span>
                </li>

                <li data-id="Resíduos Eletrônicos">
                    <img src="/assets/my-computer.png" alt="Resíduos Eletrônicos">
                    <span>Resíduos Eletrônicos</span>
                </li>


                <li data-id="Metal">
                    <img src="/assets/my-metal.png" alt="Metal">
                    <span>Metal</span>
                </li>

                <li data-id="Resíduos Infectantes">
                    <img src="/assets/my-infective.png" alt="Resíduos Infectantes">
                    <span>Resíduos Infectantes</span>
                </li>

                <li data-id="Resíduos Radioativos">
                    <img src="/assets/my-radioative.png" alt="Resíduos Radioativos">
                    <span>Resíduos Radioativos</span>
                </li>
            </div>

            <input type="hidden" name="items">

        </fieldset>

        <button type="submit">Cadastrar local de coleta</button>
    </form>

    
{% endblock content%}


{% block modal %}
    {% if saved %}
        {%include "partials/point-created.html"%}
    {% endif %}
{% endblock modal %}


{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}