body { 
    background: rgb(247, 246, 246);
}

#page-create-point {
    /* width: 90%; */
    /* max-width: 1100px; */

    margin: 0 auto;
}

#page-create-point header {
    /* margin-top: 48px; */

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 26px 0;
    background: #99cc99;
    border-bottom: 3px solid #D3DE29;
    box-shadow: 0 0 2px 0 #00000071;
}


#page-create-point header div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#page-create-point header img {
    width: 175px;
    height: 100px;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/my-arrow-left.svg');

    display: flex;

    width: 20px;
    height: 24px;
}

form {
    background-color: white;

    margin: 80px auto;
    padding: 65px;

    border-radius: 8px;
    box-shadow: inset 0px 0px 2px 2px #00000017;

    max-width: 1030px;
}



form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;

    border: 0;
}

form legend {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

form legend h2 {
    font-size: 24px;
}

form legend span {
    font-size: 14px;
    color: var(--title-color);
}

form .field {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form input,
form select {
    background-color: #f0f0f5;

    border: 0;
    padding: 16px 24px;
    font-size: 16px;

    border-radius: 8px;


    /* outline: none; */
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;

    border: 0;

    margin-top:40px;

    transition: background-color 400ms;
}

form button:hover{
    background-color: #2fb86e;
}

.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.items-grid li {
    background-color: #f5f5f5;
    list-style: none;

    border: 2px solid #f5f5f5;
    border-radius: 8px;

    height: 180px;

    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    cursor: pointer;
}

.items-grid li span {
    margin-top: 12px;

    flex:1;

    display: flex;
    align-items: center;

    color: var(--title-color);
}

.items-grid li.selected {
    background: #ECF1A7;
    border: 2px solid #99cc99;
}

.items-grid li img,
.items-grid li span {
    pointer-events: none;
}

.items-grid li:nth-child(1) img {
    width: 100px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.items-grid li img {
    width: 80px;
}