:root {
    --title-color: #322153;
    --primary-color: #05B24D;
    --background: #99cc99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: var(--background);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
}

